@define-color darkbase #1e2030;
@define-color base #222436;
@define-color foreground #c8d3f5;
@define-color cyan #86e1fc;
@define-color green #c3e88d;
@define-color orange #ff966c;
@define-color pink #fca7ea;
@define-color purple #c099ff;
@define-color red #ff757f;
@define-color yellow #ffc777;

window {
  margin: 0px;
  border: 3px solid @foreground;
  background-color: @base;
  outline-style: none;
}
    
#input {
  margin: 5px;
  border: none;
  border-radius: 8px;
  color: @foreground;
  background-color: @darkbase;
  outline-style: none;
}
    
#inner-box {
  margin: 5px;
  border: none;
  background-color: @base;
  outline-style: none;
}
    
#outer-box {
  margin: 5px;
  border: none;
  background-color: @base;
  outline-style: none;
}
   
#scroll {
  margin: 0px;
  border: none;
  outline-style: none;
}
    
#text {
  margin: 5px;
  border: none;
  color: @foreground;
} 
    
#entry {
  border-radius: 50px;
  outline-style: none;
}
    
#entry.activatable #text {
  color: @darkbase;
}
    
#entry > * {
  color: @base;
}
    
#entry:selected {
  background-color: @darkbase;
  border: none;
  border-radius: 8px;
  outline-style: none;
}
    
#entry:selected #text {
  font-weight: bold;
  color: @foreground;
  background-color: @darkbase;
}
    
#img:selected {
  background: none;
}
